* {
    margin: 0;
    padding: 0;
    font-size: 102%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(218, 212, 203);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 35px;
    box-sizing: border-box;
}