* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(217, 216, 216);
}

.container {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

.div-clear {
    clear: both;
}

.header-area {
    width: 90%;
    margin: 0 auto;
}

.header-logo {
    width: 20%;
    float: left;
    background-color: greenyellow;
}

.nav {
    width: 60%;
    float: left;
}

.nav-menu li {
    list-style: none;
    float: left;
    padding: 5px 20px;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 20px;
}

.search-area {
    width: 20%;
    float: left;
}

.hero-area {
    width: 100%;
}

.hero-left {
    width: 50%;
    float: left;
    padding: 20px;
}


.hero-left {
    width: 50%;
    float: left;
    padding: 20px;
}

.services-area {
    width: 100%;
    padding: 20px;
}

.services-left {
    float: left;
    width: 50%;
    padding: 100px;
}

.services-right {
    float: left;
    width: 50%;
    padding: 35px;
}

.card {
    width: 50%;
    float: left;
    padding: 5px;
}

.section-3 {
    background-color: rgb(110, 110, 220);
}

.sec-3-body {
    padding: 50px;
    text-align: center;
}

.sec-4 {
    padding: 25px;
}

.sec-4-head {
    text-align: center;
}

.sec-4-left {
    width: 50%;
    float: left;
    padding: 25px;
}

.sec-4-right {
    width: 50%;
    float: left;
    padding: 25px;
}

.footer-area {
    background-color: rgb(110, 110, 220);
    padding: 25px 50px;
}

.footer-left {
    float: left;
    width: 50%;
}

.footer-right {
    float: left;
    width: 50%;
}

.one {
    width: 33%;
    float: left;
}



